/*********************************************************
*
* Author: Agata Piernikowska
*Date: 12.03.2018
*
 *********************************************************/


/* TARGETING ELEMENTS / TAGS */


.box {
    margin: 20px;
    padding: 20px;
    float: left;


}

.dashed{
    border: 4px blue dashed;
}

.dotted {
    border: 4px blue dotted;
}

.double {
    border: 4px blue double;
}

.groove {
    border: 14px blue groove;
}

.inset {
    border: 14px blue inset;
}

.outset {
    border: 14px blue outset;
}

.ridge {
    border: 14px blue ridge;
}

.solid {
    border: 14px blue solid;
}
