/*********************************************************
*
* Author: Agata Piernikowska
*Date: 12.03.2018
*
 *********************************************************/


/* TARGETING ELEMENTS / TAGS */


li:nth-child(1), li:nth-child(7) {
    font-weight: bold;
}

li:nth-child(even) {
    background: grey;
}

li:nth-child(odd) {
    background: pink;
}

li:nth-child(3n+1) {
    color: green;
}
